@inherits LayoutComponentBase

<div class="page">
  @*  <div class="sidebar">
        <NavMenu />
    </div> *@
    <div >
        <NavMenu />
    </div>
    <main>
       

        <article class="content px-4">
            @Body
        </article>
    </main>
</div>

<div id="blazor-error-ui">
    出现问题
    <a href="" class="reload">刷新</a>
    <a class="dismiss">🗙</a>
</div>


<RadzenComponents />
