
<div Class="rz-p-0 ">
	<RadzenCard Variant="Variant.Flat" Class="rz-my-6 rz-mx-auto">
		<RadzenStack Orientation="Orientation.Horizontal" AlignItems="AlignItems.Center" JustifyContent="JustifyContent.SpaceAround" Gap="1rem" Class="rz-p-4">	
			<RadzenStack Gap="0">
				<RadzenImage Path="@my.HeadImgUrl" Style="width: 100px; height: 100px; border-radius: 50%;" />
				<RadzenText TextStyle="TextStyle.Subtitle1"  class="text-center"><b>@(my?.UserName + " " + my?.NickName)</b></RadzenText>
			</RadzenStack>
			<RadzenStack Gap="0">
				<RadzenText TextStyle="TextStyle.Subtitle1">得分</RadzenText>
				<RadzenText TextStyle="TextStyle.H2"><b>@my.Score</b></RadzenText>
			</RadzenStack>
		</RadzenStack>
	</RadzenCard>
</div>


@code {
	[Parameter]
	public MyInfo my { get; set; } = new();
}
