<div class="flex-column justify-content-center ">
	<h5 class="text-white text-lg-center " style=""><b>.记分记录</b></h5>
</div>


<div class="overflow-scroll pre-scrollable" style="height:300px">
	@if (items.Count > 0)
	{
		<div>
			<table class="table table-sm text-white-50 ">
				<thead>
					<tr>
						<th>记分</th>
						<th>时间</th>
						<th></th>
					</tr>
				</thead>
				<tbody>
					@foreach (var item in items)
					{
						<tr>
							<td>@item.Score</td>
							<td>@item.CreateTime</td>
							<td>@(item.Score < 0 ? "给" : "来自")  @item.FromUser!.NickName  </td>
						</tr>
					}
				</tbody>
			</table>
		</div>
	}
</div>

@code {


	[Parameter]
	public List<ScoreItem>? items { get; set; }
}
