<PageTitle>选择登录</PageTitle>

<hr />
<NavLink class="btn btn-outline-success" href="@codeUrl" Match="NavLinkMatch.All">
    <span class="bi bi-house-door-fill-nav-menu" aria-hidden="true"></span> 微信登录
</NavLink>

@code {
    string codeUrl = "";
}   
